* {
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  width: 100%;
  font-family: "Roboto", sans-serif;
  background-color: white;
}

a {
  color: gray;
  text-decoration: none;
}
ul {
  list-style: none;
}

h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}

header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 5rem 0;
  border-bottom: 0.0001rem solid gray;
  text-transform: uppercase;
  z-index: 1000;
}
.title {
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar ul li a {
  display: block;
  padding: 1.5rem 1rem;
}
.active {
  color: black;
  font-weight: 700;
}

.main {
  display: flex;
  max-width: 90%;
  margin: 12rem auto 2rem;
  z-index: 500;
}

.menu-right ul li a {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  color: blue;
  width: 15rem;
  height: 100%;
  border-bottom: 0.1rem solid white;
  transition: all 0.3s;
  border-bottom: 0.0001rem solid gray;
}

.logo {
  font-size: 1.5rem;
  color: black;
}

/* body  */

/* .body {
  display: flex;
} */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  margin: 0 0 5rem;
  flex: 1;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  max-width: 70%;
  row-gap: 2rem;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5rem;
  width: 350px;
  height: 350px;
  border: 0.0001rem solid gray;
}
.box {
  padding: 1rem;
}
.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

.cate-re {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10rem;
}

.category {
  display: inline-block;
  font-size: 0.7rem;
  padding: 0.5rem;
  margin: 1rem 0 1rem;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background-color: blue;
  border-radius: 0.5rem;
}

.release-date {
  display: inline-block;
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 500;
  color: gray;
  margin-top: 0.5rem;
}

.circles {
  display: flex;
}

.circles div a {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  background-color: white;
  border: 0.0001rem solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0.3rem;
}

p {
  font-size: 1.2rem;
  text-align: justify;
}

.body {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  width: 60%;
  margin: 0 0 5rem;
}
.circles div .active-btn {
  background-color: blue;
  color: white;
}

img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: white;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

form {
  flex: 1;
}

.form-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;
  margin: 2rem 0 5rem;
}

.form-flex div {
  display: flex;
  flex-direction: column;
}

#message {
  width: 30rem;
  height: 15rem;
}

.button {
  padding: 1rem;
  color: white;
  background-color: blue;
  cursor: pointer;
}
