* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b5de5;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
}
.container div {
  display: flex;
  width: 12rem;
  height: 12rem;
}
.container div img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  border: 0.2rem solid white;
}
.container div img:hover {
  transform: scale(1.3);
}
