* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9b5de5;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: 40rem;
  max-height: 40rem;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}
.container div {
  display: flex;
}
.container div img {
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
  border: 0.2rem solid white;
  width: 12rem;
  height: 12rem;
}
.container div img:hover {
  transform: scale(1.3);
}
